@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(233, 235, 255), rgb(224, 255, 224));
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 90vw;
}
h1{
    letter-spacing: .2em;
    background: linear-gradient(rgb(0, 115, 255),
        green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: 500;
}
a{
    text-decoration: none;
}

form{
    width: 400px;
    height: 40vh;
    margin-bottom: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgb(131, 187, 255) 1px 1px 5px 5px;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    letter-spacing: .1em;
    text-align: center;
}

::placeholder{
    background: linear-gradient(rgb(0, 115, 255),
                green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    text-align: center;
    opacity: .8;
}
input[type="submit"]{
    color: white;
    background: linear-gradient(to right, rgb(0, 115, 255), green);
    cursor: pointer;
}
input[type="submit"]:hover{
    background: linear-gradient(to right, rgb(0, 115, 255), green);
    transition: background, .5s;
}
.log-in{
    border: solid 1px green;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    padding: 3px;
}
.log-in:hover {
    transition: box-shadow .5s;
    box-shadow: white 0px 0px 2px 2px;
}